.backdrop {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity $transition-animation;

  @media screen and (max-width: 1199px) {
    padding: 93px 15px;
  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    padding: 93px 0;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 40px;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  // min-width: 528px;

  background-color: $white-color;
  box-shadow: $modal-shadow;
  border-radius: 4px;

  // transition: transform $transition-animation;

  @media screen and (min-width: 480px) and (max-width: (1199px)) {
    margin: 0 auto;
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;

    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;

    transition: transform $transition-animation, opacity $transition-animation;
  }

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.4, 0.1);
    opacity: 0;
  }
}

.modal__button-closed {
  position: absolute;
  display: inline-flex;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 6px;

  cursor: pointer;
  background-color: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__button-icon {
  transition: fill $transition-animation;
}

.modal__button-closed:hover .modal__button-icon,
.modal__button-closed:focus .modal__button-icon {
  fill: $accent-color;
}
