%_title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

%button {
  border-radius: 4px;
  border: none;
  color: $white-color;
  background-color: $accent-color;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color $transition-animation, box-shadow $transition-animation;

  &:hover,
  &:focus {
    background-color: $button-hover-color;
    box-shadow: $button-shadow;
  }
}
